@model IEnumerable<MyFavorite>


<h3 class="s-title"><a href="#">My Favorites</a>&nbsp;&nbsp;<a href="#" class="shrink">(2 tutors / 0 students)</a></h3>
<hr class="splitter-d">
<div class="s-details">
    <ul>
        <li class="col-2"><span>Location: </span>Santa Cruise</li>
        <li class="col-1"><span>Status: </span>T</li>
        <li class="col-3"><span>Subject: </span>Advanced Calculus</li>
        <li class="col-3"><span>Location: </span>Irvine,CA</li>
        <li class="col-3"><span>e-mail: </span><a href="#">santa@haven.org</a></li>
    </ul>
    <div class="clearfix"></div>
</div>
