@model AccountViewModel

<form class="form-inline select-taxo-form" role="form">
    <div class="row zero">
        <div class="cmm">
            <label class="col-2 cop s-title sb2-inalign" for="select-taxo2">Search for</label>
            <div class="col-4 cop">

                @Html.DropDownList("SearchTutorId", null, "Select types", new { @class = "selectbox2", style = "display: none;" })

            </div>
            <div class="col-2">
                <button class="btn btn-blue" type="submit">Go</button>
            </div>
        </div>
    </div> <!-- end item -->
    <div class="clearfix"></div>
</form>
