@model IPagedList<TextContent>

@{
    ViewBag.Title = "TextContents";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
 
@Html.Partial("Partials/TextContent/_List")
 