@model MemberMaster

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("Partials/MemberMaster/_View")

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>