@model City

@{
    ViewBag.Title = "Create";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("Partials/City/_Form")

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
